---
import Layout from '../layouts/Layout.astro';
import MemberCard from '../components/MemberCard.astro';
import { SITE_TITLE } from '../consts';

const members = [
  {
    nickname: "Stealth Guy",
    name: "Gabriele Alessandria",
    photo: "/immagini_membri/gabriele_alessandria.jpg",
    link: "",
    tags: ["web", "network", "misc"]
  },
  {
    nickname: "Ub1k",
    name: "David Hermes",
    photo: "/immagini_membri/david_hermes.jpg",
    link: "https://github.com/0xUb1k",
    tags: ["pwn", "reverse"]
  },
  {
    nickname: "AndyVale",
    name: "Andrea Valentino Ricotti",
    photo: "/immagini_membri/andrea_ricotti.jpg",
    link: "",
    tags: ["crypto"]
  },
  {
    nickname: "ThePirate",
    name: "Pietro Zignaigo",
    photo: "/immagini_membri/pietro_zignaigo.jpg",
    link: "https://github.com/ThePirate42",
    tags: ["crypto", "reverse"]
  },
  {
    nickname: "Redistan",
    name: "Riccardo Cherchi",
    photo: "/immagini_membri/riccardo_cherchi.jpg",
    link: "",
    tags: ["web", "misc"]
  },
  {
    nickname: "Goglix",
    name: "Gabriele",
    photo: "/immagini_membri/gabriele_olivieri.jpg",
    link: "",
    tags: ["crypto"]
  }, 
  {
    nickname: "Giovanni",
    name: "",
    photo: "/immagini_membri/giovanni_cognome.jpg",
    link: "",
    tags: ["misc"]
  },
  {
    nickname: "eriseisarai",
    name: "Erika",
    photo: "/immagini_membri/erika_corbo.jpg",
    link: "",
    tags: ["misc", "web"]
  },
  {
    nickname: "Tom1380",
    name: "Tommaso Thea Cioni",
    photo: "https://images.pexels.com/photos/1043471/pexels-photo-1043471.jpeg?auto=compress&cs=tinysrgb&w=300&h=300&fit=crop",
    link: "",
    tags: ["pwn"]
  },
  {
    nickname: "il_vero_gabriele",
    name: "[censured]",
    photo: "https://static.wikia.nocookie.net/spongebob/images/f/fc/SpongeBob_SquarePants_Theme_Song_%281999%29_01.png",
    link: "",
    tags: ["pwn"]
  },
  {
    nickname: "Pwny",
    name: "Pwny the Horse",
    photo: "/immagini_membri/pwny.jpg",
    link: "",
    tags: ["pwn", "gambling"]
  },
];

---

<Layout title={SITE_TITLE}>

    <div class="team-section">
      <div class="container">
        <h2>🧑‍💻 Tutti i membri di Pwnissa </h2>
        <div class="team-grid">
          {members.map(member => (
            <MemberCard 
              nickname={member.nickname}
              name={member.name}
              photo={member.photo}
              tags={member.tags}
            />
          ))}
        </div>
      </div>
    </div>

  </Layout>