---
import Layout from '../layouts/Layout.astro';

import PetCard from '../components/PetCard.astro';
import { SITE_TITLE } from '../consts';
import {pets} from '../config';


---

<Layout title={SITE_TITLE}>

    <div class="team-section">
      <div class="container">
        <h2>Our pets</h2>
        <div class="team-grid">
            {pets.map(pet => (
                <PetCard
                  name={pet.name}
                  info={pet.info}
                  photo={pet.photo}
                  tags={pet.tags}
                />
              ))}
        </div>
      </div>

    </div>

  </Layout>
